.sidebar {
  width: 270px;
  height: 2100vh;
  margin: -8;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 100;
  background-color: rgb(255, 255, 255);
  
}

.logoContainer{
    margin-top: 10px;
    text-align: center;
}

.sidebarLink:first {
    border-top: 1px solid rgb(165, 2, 2);
    padding-top: 5px;
    margin-top: 5px; 
}

.sidebarLink p {
  font-size: 0.775rem;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgb(165, 2, 2);
  padding-bottom: 5px; 
  margin-bottom: 5px; 
}

