.ThreeMonthTrialContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.WorldLevel{
    text-align: center;
}

.gold {
  background: linear-gradient(
    269deg,
    #c48502 4.25%,
    #fedf8f 29.91%,
    #af7900 46.97%,
    #fedf8f 63.91%,
    #af7900 81.23%,
    #c48502 97.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}